Source: opennms
Section: contrib/net
Priority: optional
Maintainer: Jeff Gehlbach <jeffg@opennms.org>
Build-Depends: debhelper (>= 5.0.42), ant, sun-java6-jdk | sun-java5-jdk, po-debconf (>= 1.0.5)
Standards-Version: 3.7.2

Package: opennms
Section: contrib/net
Architecture: all
Depends: opennms-db (=${Source-Version}), opennms-server (=${Source-Version}), opennms-webapp (=${Source-Version})
Suggests: opennms-doc
Description: open network monitoring and management application
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.

Package: opennms-common
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: ${perl:Depends}, libdbi-perl, libdbd-pg-perl, libgetopt-mixed-perl
Recommends: libnet-snmp-perl
Description: open network monitoring and management application, (common files)
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 This package provides the scripts, utilities and support files common to
 all OpenNMS configurations.

Package: opennms-contrib
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: ${perl:Depends}, libwww-perl, libgtk-perl, opennms-common (=${Source-Version})
Description: open network monitoring and management application, (contrib)
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 The contrib package provides additional features and functionality that
 are not a part of OpenNMS proper.

Package: opennms-db
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: ${perl:Depends}, libdbi-perl, libdbd-pg-perl, iplike-pgsql82 | iplike-pgsql81 | iplike-pgsql74, opennms-common (=${Source-Version}), postgresql-8.2 | postgresql-8.1 | postgresql-7.4, debconf
Recommends: opennms-webapp, qpage
Suggests: opennms-doc
Description: open network monitoring and management application, (database)
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 This package contains the database specific components of OpenNMS

Package: opennms-server
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: sun-java6-jdk | sun-java6-jre | sun-java5-jdk | sun-java5-jre, libopennms-java (=${Source-Version}), mailx, metamail, opennms-common (=${Source-Version})
Recommends: opennms-db, opennms-webapp, qpage
Suggests: jrrd, opennms-doc
Description: open network monitoring and management application
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification
 system handles both internally and externally generated events, such as
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for
 configured events.

Package: opennms-webapp
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: sun-java6-jdk | sun-java6-jre | sun-java5-jdk | sun-java5-jre, libopennms-java (=${Source-Version}), opennms-common (=${Source-Version}), tomcat5.5 (>= 5.5.20), debconf
Suggests: opennms-doc
Description: open network monitoring and management application, (web interface)
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 This is web console and frontend management portion of OpenNMS.

Package: opennms-doc
Section: contrib/doc
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Description: open network monitoring and management application, (documentation)
 OpenNMS is an enterprise-grade network management system written in Java
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 This is the OpenNMS user, administration, and programing documentation.

Package: libopennms-java
Section: contrib/net
Architecture: all
Conflicts: opennms (<< 1.2.4-1)
Depends: sun-java6-jdk | sun-java6-jre | sun-java5-jdk | sun-java5-jre, jicmp, libpg-java (>= 8.1)
Suggests: jrrd
Description: open network monitoring and management application, (libraries)
 OpenNMS is an enterprise-grade network management system written in Java.
 It can perform availability monitoring of various network services to
 determine status and service level availability. Data collection is
 performed using protocols such as SNMP to generate reports as well as
 alert on thresholds. An extensible event managment and notification 
 system handles both internally and externally generated events, (such as 
 SNMP traps), plus generates notices, (email, pager, SMS, etc), for 
 configured events.
 .
 This package provides the Java libraries common to all OpenNMS 
 configurations.

